<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293400889675-j9cj00vtvqmjpn9etd9d67pm1md3rp7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293400889675-j9cj00vtvqmjpn9etd9d67pm1md3rp7j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>293400889675-57nqmrlp1ov83u3sjbacb55khjrm849k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCKVmv4MGOdV-Ha79aKCJVvnyYynTHSeZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>293400889675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.letss.letssapp</string>
	<key>PROJECT_ID</key>
	<string>letss-11cc7</string>
	<key>STORAGE_BUCKET</key>
	<string>letss-11cc7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293400889675:ios:a609a153c43f534ee900ce</string>
</dict>
</plist>